.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.result {
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.input {
  padding: 16px;
}

span {
  word-wrap: break-word;
}
